*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 320px) {
  .heading {
    font-size: 20px;
    word-wrap: break-word;
  }
  .header img {
    max-width: 100%;
    height: auto;
  }
  .centered-image {
    display: block;
    max-width: 100%;
  }
  .blog-content {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 20px;
    word-wrap: break-word;
  }
  .header img {
    height: 80%;
    width: auto;
  }
  .centered-image {
    display: block;
    max-width: 100%;
  }
  .blog-content p h1 {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .heading {
    font-size: 20px;
    word-wrap: break-word;
  }
  .header img {
    height: 80%;
    width: auto;
  }
  .centered-image {
    display: block;
    max-width: 100%;
  }
}

@media screen and (min-width: 500px) {
  .centered-image {
    display: block;
    max-width: 100%;
  }
}
